:root {
  --primary: #c9e165;
  --bg: #0d110f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
  border: none;
  text-decoration: none;
}


/* Media */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 61%;
  }
  #menu-menu {
    display: inline-block;
  }

  #login {
    display: none;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ffff;
    width: 30rem;
    height: 100vh;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

/* mobile */
@media (max-width: 540px) {
  html {
    font-size: 54%;
  }
}

